body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}
:root {
  --gray-color: rgb(25, 25, 25);
  --gray-filter: invert(0%) sepia(14%) saturate(3503%) hue-rotate(7deg)
    brightness(109%) contrast(80%);
  --white-color: rgb(230, 230, 230);
  --white-filter: invert(100%) sepia(68%) saturate(3886%) hue-rotate(185deg)
    brightness(124%) contrast(80%);
}
body::-webkit-scrollbar {
  width: 8px;
}
:root,
body::-webkit-scrollbar-track,
nav,
.preloader,
.cart-container {
  background: white;
}
body::-webkit-scrollbar-thumb,
.filters::-webkit-scrollbar-thumb,
.cart-items::-webkit-scrollbar-thumb,
.filters,
.cart-button,
.filters {
  background: var(--gray-color);
}
.category,
.filter-price,
.product,
.product-container,
.cart-payment,
.item-description {
  position: relative;
  display: flex;
  flex-direction: column;
}
.filters,
footer,
.cart-container {
  position: fixed;
  display: flex;
  flex-direction: column;
}
nav,
.navbar-market,
.market,
.filter,
.filter-section,
.item-container,
.cart-header,
.cart-total,
.cart-reactpay,
.cart-reactpal,
.item,
.item-price,
.item-price-old {
  display: flex;
  flex-direction: row;
}
.category-img,
.category-noise,
.product-img,
.cart-close,
.category-noise {
  height: 100%;
  width: 100%;
}
.checkbox {
  appearance: none;
  -moz-appearance: none;
  position: relative;
  margin-right: 10px;
  width: 6%;
  height: 60%;
  left: 10%;
  cursor: pointer;
}
.checkbox:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 0.25em solid gray;
  background-color: var(--gray-color);
}
.checkbox:checked:after {
  content: "";
  display: block;
  margin-top: -19.5px;
  margin-left: 3.5px;
  width: 90%;
  height: 88%;
  background: gray;
}
.price {
  position: absolute;
  left: 10%;
  top: 55%;
  width: 40%;
  height: 55%;
  margin: 0;
  padding: 0;
  appearance: none;
  -moz-appearance: none;
  background: transparent;
  cursor: pointer;
}
.price:last-of-type {
  left: 50%;
}
.price::-webkit-slider-runnable-track {
  height: 15%;
  background-color: rgb(60, 60, 60);
  border-radius: 5px 0 0 5px;
  z-index: 0;
}
.price:last-of-type::-webkit-slider-runnable-track {
  border-radius: 0 5px 5px 0;
}
.price::-moz-range-track {
  height: 15%;
  background-color: rgb(60, 60, 60);
  border-radius: 5px 0 0 5px;
  z-index: 0;
}
.price:last-of-type::-moz-range-track {
  border-radius: 0 5px 5px 0;
}
.price::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  margin-top: -6%;
  width: 18%;
  height: 300%;
  background: var(--white-color);
  border: solid rgba(60, 60, 60, 1) 3px;
  border-radius: 10px;
  z-index: 1;
}
.price::-moz-range-thumb {
  pointer-events: all;
  margin-top: -6%;
  width: 10%;
  height: 27%;
  background: var(--white-color);
  border: solid rgba(60, 60, 60, 1) 3px;
  border-radius: 10px;
  z-index: 1;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
.container-row {
  position: relative;
  display: flex;
  flex-direction: row;
}
.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.preloader-enter {
  opacity: 0;
}
.preloader-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.preloader-exit {
  opacity: 1;
}
.preloader-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.preloader-img {
  max-height: 400px;
  max-width: 400px;
}
nav {
  position: fixed;
  font-size: 25px;
  font-weight: 600;
  width: calc(100% - 80px);
  height: 80px;
  z-index: 3;
  border-bottom: solid 0.5px gray;
}
.navbar-market {
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  height: 80px;
  min-width: 300px;
  text-decoration: none;
  color: var(--white-color);
  border-right: solid 0.3px gray;
  background: rgb(25, 25, 25);
}
.navbar-logo {
  position: relative;
  margin-right: 7px;
  width: 50px;
  height: 50px;
  filter: var(--white-filter);
}
.search {
  width: calc(100% - 30px);
  height: calc(100% - 0.3px);
  color: var(--white-color);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
  background: var(--gray-color);
  padding: 20px;
  border: none;
  border-right: solid 0.3px gray;
  outline: none;
}
.search::-ms-clear,
.search::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.search::-webkit-search-decoration,
.search::-webkit-search-cancel-button,
.search::-webkit-search-results-button,
.search::-webkit-search-results-decoration {
  display: none;
}
.search-enter {
  width: 0;
  padding: 0;
  border-right: none;
}
.search-enter-active {
  width: calc(100% - 30px);
  padding: 20px;
  border-right: solid 0.3px gray;
  transition: width 0.3s ease-in-out;
}
.search-exit {
  width: calc(100% - 30px);
  border-right: solid 0.3px gray;
}
.search-exit-active {
  width: 0;
  border-right: none;
  transition: width 0.3s ease-in-out;
}
.search-exit-done {
  width: 0;
  padding: 0;
  border-right: none;
}
.filters {
  top: 80.5px;
  height: 100%;
  width: 300px;
  overflow: auto;
}
.filters::-webkit-scrollbar {
  width: 4px;
}
.category {
  min-height: 120px;
  cursor: pointer;
  border-bottom: solid 0.5px gray;
  background: black;
}
.category-enter {
  min-height: 0px;
  transform: translateX(-300px);
}
.category-enter-active {
  transform: translateX(0px);
  min-height: 120px;
  transition: transform 0.5s ease-in-out, min-height 0.5s ease-in-out;
}
.category-enter-done {
  min-height: 120px;
}
.category-exit {
  transform: translateX(0px);
  min-height: 120px;
}
.category-exit-active {
  min-height: 0px;
  transform: translateX(-300px);
  transition: transform 0.5s ease-in-out, min-height 0.5s ease-in-out;
}
.category-exit-done {
  display: none;
}
.category:last-child {
  border-bottom: none;
}
.category-img,
.category-noise {
  position: absolute;
  transition: margin-left 0.5s ease-out 100ms;
}
.category-img {
  margin-left: 0px;
}
.category:hover .category-img {
  margin-left: -30px;
}
.category-name {
  position: absolute;
  margin-top: 60px;
  margin-left: 15px;
  font-size: 25px;
  text-shadow: 1px 1px gray;
  z-index: 2;
  color: var(--white-color);
}
.filter {
  position: relative;
  align-items: center;
  color: var(--white-color);
  width: 100%;
  height: 30px;
  font-size: 20px;
}
.filter-enter {
  height: 0px;
  font-size: 0px;
}
.filter-enter-active {
  height: 30px;
  font-size: 20px;
  transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.filter-enter-done {
  height: 30px;
  font-size: 20px;
}
.filter-exit {
  font-size: 20px;
  height: 30px;
}
.filter-exit-active {
  height: 0px;
  font-size: 0px;
  transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.filter-price {
  width: calc(100% - 20%);
  font-weight: 600;
  left: 10%;
  color: var(--white-color);
}
.filter-price-enter {
  height: 0px;
  font-size: 0px;
}
.filter-price-enter-active {
  height: 70px;
  font-size: 20px;
  transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.filter-price-enter-done {
  height: 70px;
  font-size: 20px;
}
.filter-price-exit {
  font-size: 20px;
  height: 70px;
}
.filter-price-exit-active {
  height: 0px;
  font-size: 0px;
  transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.filter-label-2 {
  height: 30px;
  padding: 0;
}
.filter-section {
  position: relative;
  height: 30px;
  justify-content: space-between;
  font-size: 75%;
}
.filter-label {
  position: relative;
  cursor: pointer;
  top: 3px;
  font-weight: 600;
  left: 12%;
}
footer {
  top: 80px;
  right: 0;
  height: calc(100% - 80px);
  width: 80px;
  align-items: center;
}
.footer-item {
  position: relative;
  margin-bottom: 10px;
  width: 40px;
}
.footer-item:first-child {
  margin-top: auto;
}
.footer-img {
  width: 40px;
  height: 40px;
  filter: var(--gray-filter);
  cursor: pointer;
}
.market {
  position: absolute;
  flex-wrap: wrap;
  align-content: flex-start;
  top: 80.5px;
  left: 300px;
  width: calc(100% - 380px);
  min-height: calc(100% - 80.5px);
  gap: 1px 1px;
  background: gray;
}
.landing {
  position: absolute;
  display: block;
  margin-top: 15%;
  margin-left: calc(50% - 150px);
  max-width: 300px;
  max-height: 300px;
  opacity: 0.04;
  filter: var(--gray-filter);
}
.landing-exit {
  display: none;
}
.product {
  width: calc(25% - 1px);
  min-height: 500px;
  text-decoration: none;
  color: var(--gray-color);
  background: var(--white-color);
  cursor: pointer;
}
.product-img {
  position: absolute;
  z-index: 1;
}
.product-header {
  margin-top: 10px;
  margin-left: 10px;
  z-index: 2;
  text-align: center;
  font-size: 25px;
  text-shadow: 1px 1px gray;
  width: 30%;
  height: 80px;
}
.product-price {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.product-container {
  margin-top: auto;
  margin-bottom: 20px;
  z-index: 2;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
}
.product-dollars {
  font-weight: 1000;
}
.product-cents {
  font-size: 20px;
}
.cart-button {
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 0;
  display: flex;
  width: 80px;
  height: 79.7px;
  border-bottom: solid 0.3px gray;
}
.cart-button-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: var(--white-filter);
}
.cart-close {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background: rgba(40, 40, 40, 0.7);
}
.cart-close-enter {
  opacity: 0;
}
.cart-close-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.cart-close-exit {
  opacity: 1;
}
.cart-close-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.cart-container {
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  z-index: 4;
}
.cart-container-enter {
  transform: translateX(100%);
}
.cart-container-enter-active {
  transform: translateX(calc(100% - 500px));
  transition: transform 0.3s ease-in-out;
}
.cart-container-exit {
  transform: translateX(calc(100% - 500px));
}
.cart-container-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.cart-header {
  position: relative;
  align-items: center;
  border-bottom: solid 0.5px gray;
  font-size: 20px;
  justify-content: space-between;
  width: 95%;
  padding: 0 0 0 5%;
  min-height: 80px;
}
.cart-items {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: auto;
  left: 20px;
  width: calc(100% - 40px);
}
.cart-items::-webkit-scrollbar {
  width: 4px;
}
.cart-total {
  position: relative;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 20px;
  justify-content: space-between;
  left: 20px;
  width: calc(100% - 40px);
  height: 50px;
}
.cart-payment {
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: 120px;
}
.cart-reactpay {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  align-items: center;
  font-weight: 700;
  color: white;
  background: black;
  cursor: pointer;
}
.cart-reactpal {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 700;
  color: white;
  background: gray;
  cursor: pointer;
}
.cart-payment-img {
  align-items: center;
  margin-right: 5px;
  max-height: 80%;
  max-width: 80%;
  filter: var(--white-filter);
}
.item {
  position: relative;
  border-bottom: solid 0.5px gray;
  width: 100%;
  height: 100px;
}
.item:last-child {
  border-bottom: 0;
}
.item-description {
  justify-content: space-around;
  width: 50%;
}
.item-img {
  margin: 15px;
  max-height: calc(100% - 25px);
  max-width: calc(100% - 25px);
}
.item-name {
  position: relative;
  color: var(--gray-color);
  font-size: 25px;
  width: 100%;
}
.item-price,
.item-price-old {
  position: relative;
  align-items: center;
  font-size: 20px;
  color: var(--gray-color);
  text-shadow: 1px 1px gray;
}
.item-dollars {
  font-weight: 1000;
  font-size: 20px;
}
.item-cents {
  font-size: 15px;
  align-self: start;
}
.item-price-old {
  margin-left: 10px;
  text-decoration: line-through;
  color: red;
}
.item-container {
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.item-option,
.item-button {
  font-size: 20px;
  cursor: pointer;
}
.item-remove {
  margin-left: 5%;
  margin-right: 2%;
  align-self: center;
  max-height: 25px;
  max-width: 25px;
  cursor: pointer;
}
.item-cart {
  margin-left: auto;
  max-height: 25px;
  max-width: 25px;
}
@media only screen and (max-width: 1500px) {
  .product {
    width: calc(33.3333% - 1px);
  }
}
@media only screen and (max-width: 1024px) {
  .product {
    width: calc(50% - 1px);
  }
}
@media only screen and (max-width: 500px) {
  .checkbox {
    width: 8.6%;
    height: 40%;
    left: 12%;
  }
  .checkbox:checked:after {
    margin-top: -13.5px;
    margin-left: 4.5px;
    width: 80%;
    height: 85%;
  }
  .price::-webkit-slider-thumb {
    margin-top: -12%;
    width: 40%;
    height: 400%;
  }
  .price::-moz-range-thumb {
    width: 25%;
    height: 40%;
  }
  nav {
    font-size: 15px;
    height: 40px;
    width: calc(100% - 40px);
  }
  .navbar-market {
    height: 40px;
    min-width: 140px;
  }
  .navbar-logo {
    width: 30px;
    height: 30px;
  }
  footer {
    width: 40px;
  }
  .footer-item {
    width: 30px;
  }
  .footer-img {
    width: 30px;
    height: 30px;
  }
  .cart-button {
    width: 40px;
    height: 39.7px;
  }
  .cart-button-img {
    width: 30px;
    height: 30px;
  }
  .filters {
    top: 40.5px;
    width: 140px;
  }
  .category {
    min-height: 60px;
  }
  .category-enter {
    min-height: 0px;
    transform: translateX(-300px);
  }
  .category-enter-active {
    transform: translateX(0px);
    min-height: 60px;
    transition: transform 0.5s ease-in-out, min-height 0.5s ease-in-out;
  }
  .category-enter-done {
    min-height: 60px;
  }
  .category-exit {
    transform: translateX(0px);
    min-height: 60px;
  }
  .category-exit-active {
    min-height: 0px;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out, min-height 0.5s ease-in-out;
  }
  .category:hover .category-img {
    margin-left: 0;
  }
  .category-name {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 15px;
  }
  .category-img {
    margin-left: 0px;
  }
  .search {
    width: calc(100% - 30px);
    font-size: 15px;
    padding: 10px;
  }
  .search-enter {
    width: 0;
    padding: 0;
    border-right: none;
  }
  .search-enter-active {
    width: calc(100% - 30px);
    padding: 10px;
    border-right: solid 0.3px gray;
    transition: width 0.3s ease-in-out;
  }
  .search-exit {
    width: calc(100% - 30px);
    border-right: solid 0.3px gray;
  }
  .search-exit-active {
    width: 0;
    border-right: none;
    transition: width 0.3s ease-in-out;
  }
  .search-exit-done {
    width: 0;
    padding: 0;
    border-right: none;
  }
  .market {
    top: 40.5px;
    left: 140px;
    width: calc(100% - 180px);
    min-height: calc(100% - 40.5px);
  }
  .landing {
    margin-top: 10%;
    margin-left: calc(50% - 80px);
    max-width: 150px;
    max-height: 150px;
  }
  .product {
    width: calc(100% - 1px);
    min-height: 300px;
  }
  .filter {
    font-size: 15px;
  }
  .filter-price-enter-active {
    height: 50px;
    font-size: 15px;
    transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
  }
  .filter-price-enter-done {
    height: 50px;
    font-size: 15px;
  }
  .filter-price-exit {
    font-size: 15px;
    height: 50px;
  }
  .filter-price-exit-active {
    height: 0px;
    font-size: 0px;
    transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;
  }
  .cart-container {
    width: 100%;
    height: 100%;
  }
  .cart-container-enter {
    transform: translateX(100%);
  }
  .cart-container-enter-active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  .cart-container-exit {
    transform: translateX(0);
  }
  .cart-container-exit-active {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .cart-header {
    border-bottom: solid 0.5px gray;
    font-size: 20px;
    justify-content: space-between;
    width: 95%;
    padding: 0 0 0 5%;
    min-height: 40px;
  }
  .cart-items {
    left: 20px;
    width: 100%;
  }
  .cart-items::-webkit-scrollbar {
    width: 4px;
  }
}